name: EC2 Instance

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - 'main'
  #   paths:
  #     - 'aws-cloud/ec2/*'
  # pull_request:
  #   branches:
  #     - 'main'

jobs:
  terraform:
    runs-on: ubuntu-latest
    
    steps:
      # Step 1: Checkout the code from the repository
      - name: Checkout repository
        uses: actions/checkout@v3  # Use the latest stable version of actions/checkout
      
      # Step 2: Set up Terraform
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.0.0'  # Specify your desired Terraform version here

      # Step 3: Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-1'  # Change to your desired AWS region

      # Step 4: Configure SSH for accessing resources (if needed)
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.ACCESS_KEY_SSH }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
      
      - name: Checkout Terraform repository
        run: |
          git clone git@github.com:bh-gaur/terraform.git
          

      # Step 5: Initialize Terraform (Ensure plugins and configuration are loaded)
      - name: Terraform Init
        run: |
          cd terraform/aws-cloud/ec2/
          terraform init
          terraform validate  # Ensures Terraform configuration is valid

      # - name: Terraform Init (Reinitialize if necessary)
      #   run: |
      #     rm -rf .terraform
      #     rm .terraform.lock.hcl
      #     terraform init

      # Step 6: Checkout the Terraform repository containing the EC2 configuration


      # Step 7: Terraform Plan (Prepare the deployment plan)
      - name: Terraform Plan
        run: |
          cd terraform/aws-cloud/ec2/
          terraform plan -out=tfplan

      # Step 8: Apply the Terraform Plan to create EC2 instance
      - name: Terraform Apply
        run: |
          cd terraform/aws-cloud/ec2/
          terraform apply -auto-approve tfplan
